<header>
  <h2 class="lead">Find blue dollar value in a date range</h2>
  <small class="text-muted">USD to ARS</small>
</header>
<div class="pb-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <label for="beforeDate" class="input-group-text">Start date</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        id="beforeDate"
        formControlName="beforeDate"
        bsDatepicker
        [bsConfig]="datePickerConfig"
      />
    </div>
    <div class="input-group mb-3">
      <label for="afterDate" class="input-group-text">End date</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        id="afterDate"
        formControlName="afterDate"
        bsDatepicker
        [bsConfig]="datePickerConfig"
      />
    </div>

    <div class="col-xs-12 col-12 col-md-4 form-group">
      <button class="btn btn-primary" [disabled]="!form.valid || invalidDate">
        Search
      </button>
    </div>
  </form>
</div>
<div class="pb-4" *ngIf="data">
  <exrate-result-grid [gridData]="data"></exrate-result-grid>
</div>
